* {
    background: #2b313f;
}

ul {
    list-style: none;
    display: flex;
}

ul .icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 2px white solid;
    border-radius: 50%;
    cursor: pointer;
    transition-property: outline-offset,
    outline-color, background-color;
}

.icons ul i .fa{
    color: white;
    margin-left: 5px;
    margin-top: 2px;
}

.facebook {
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 2px;
}

.instagram {
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 6px;
    padding-bottom: 3px;

}

.twitter {
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 7px;
}

.gmail {
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 3px;
    padding-right: 5px;
}

.github {
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 7.5px;
}

.icons:hover {
    outline-offset: 10px;
}

.icons:hover i {
    animation: shake .25s;
}

.facebook:hover {
    background-color: #0972ab;
    outline-color: #0972ab;
}

.fa-facebook:hover {
    background-color: #0972ab;
}


.instagram:hover {
    background-color: aqua;
    
}

